<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.randhypi.githubuserapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.randhypi.githubuserapp.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.randhypi.githubuserapp.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUserApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.randhypi.githubuserapp"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.randhypi.githubuserapp.READ_DATABASE"
            android:writePermission="com.randhypi.githubuserapp.WRITE_DATABASE" />

        <activity
            android:name=".ui.SplashActivity"
            tools:ignore="ExtraText">
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>